<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/style.css">

	<title>AddRow</title>
</head>
<body>
	<%= loginBar %>


	<h1>You have added a new row to the database!</h1>
	<ul>
		<li><a href="/admin">Go back to Admin Page</a></li>
		<li><a href="/">Home</a></li>
	</ul>
</body>
</html>