<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/style.css">

	<title></title>
</head>
<body>

	<h1>Welcome to the homepage for the accounts!</h1>
	<a href="/login">Login</a>

	<hr>

	<p>Click the link below based on what account you would like to see</p>

	<ul>
		<li><a href="http://localhost:4567/report?report=full"> List all accounts</a></li>
		<li><a href="http://localhost:4567/report?report=Sonia">Account information for Sonia</a></li>
		<li><a href="http://localhost:4567/report?report=Priya">Account information for Priya</a></li>
	</ul>

</body>
</html>



