<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1> Account: <%= @account_name%>.. Balance: <%= @current_balance%> </h1>
	<p>========================================================</p>
	<h2> Category	|	Total Spent		|	Average Transaction</h2>
	<p>----------------------------------------------------------------------------------------------</p>


	<p><%= @output%></p>
</body>
</html>
