<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="cssrules.css">

	<title></title>
</head>
<body>
<h1>Welcome to the homepage for the accounts!</h1>
<p>Click the link below based on what account you would like to see</p>
<h2> <a href="http://localhost:4567/full"> List all accounts</a></h2>
<h2> <a href="http://localhost:4567/Sonia">Account information for Sonia</a></h2>
<h2> <a href="http://localhost:4567/Priya">Account information for Priya</h2>
</body>
</html>



