<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


	<h1> Account: nAMEoFaCCOUNT.. Balance: aMOUNToFbALANCE</h1>
	<p>========================================================</p>
	<h2> Category	|	Total Spent		|	Average Transaction</h2>
	<p>----------------------------------------------------------------------------------------------</p>


	<p>I just want to print out the <%= @output%></p>
</body>
</html>
