<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/style.css">

	<title>Logged Out</title>
</head>
<body>
<%= loginBar %>

<h1> You have been successfully logged out. </h1>


<a href="/">Back to Main Page</a>



</body>
</html>

