<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/style.css">

	<title></title>
</head>
<body>
<%= loginBar %>



<form method="POST" action="/login">
<fieldset> 
   <input type="text" name="loginID" placeholder="Login"> 
   <input type="password" name="passwordInput" placeholder="Password">
  <input type="submit" value="Login">
</fieldset>
</form>

<a href="/new_user">New Users</a>



</body>
</html>



