<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/style.css">

	<title></title>
</head>
<body>
<%= loginBar %>


Would you like to log in? 
<form method="POST" action="/login">
<fieldset> 
  Login: <input type="text" name="loginID"> 
  Password: <input type="password" name="passwordInput">
  <input type="submit" value="Login">
</fieldset>
</form>
<a href="/new_user">New Users</a>
</h1>


</body>
</html>



